<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EJS Playground</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="https://unpkg.com/codemirror/lib/codemirror.css">
	<link rel="stylesheet" href="https://unpkg.com/codemirror/addon/display/fullscreen.css">
	<link rel="stylesheet" href="https://unpkg.com/codemirror/addon/fold/foldgutter.css">
	<script src="https://unpkg.com/ejs/ejs.min.js"></script>
	<script src="https://unpkg.com/codemirror/lib/codemirror.js"></script>
	<script src="https://unpkg.com/codemirror/addon/comment/comment.js"></script>
	<script src="https://unpkg.com/codemirror/addon/comment/continuecomment.js"></script>
	<script src="https://unpkg.com/codemirror/addon/display/fullscreen.js"></script>
	<script src="https://unpkg.com/codemirror/addon/edit/closebrackets.js"></script>
	<script src="https://unpkg.com/codemirror/addon/edit/closetag.js"></script>
	<script src="https://unpkg.com/codemirror/addon/edit/matchbrackets.js"></script>
	<script src="https://unpkg.com/codemirror/addon/edit/matchtags.js"></script>
	<script src="https://unpkg.com/codemirror/addon/fold/brace-fold.js"></script>
	<script src="https://unpkg.com/codemirror/addon/fold/comment-fold.js"></script>
	<script src="https://unpkg.com/codemirror/addon/fold/foldcode.js"></script>
	<script src="https://unpkg.com/codemirror/addon/fold/foldgutter.js"></script>
	<script src="https://unpkg.com/codemirror/addon/fold/indent-fold.js"></script>
	<script src="https://unpkg.com/codemirror/addon/fold/markdown-fold.js"></script>
	<script src="https://unpkg.com/codemirror/addon/fold/xml-fold.js"></script>
	<script src="https://unpkg.com/codemirror/addon/mode/multiplex.js"></script>
	<script src="https://unpkg.com/codemirror/addon/selection/active-line.js"></script>
	<script src="https://unpkg.com/codemirror/keymap/sublime.js"></script>
	<script src="https://unpkg.com/codemirror/mode/css/css.js"></script>
	<script src="https://unpkg.com/codemirror/mode/htmlembedded/htmlembedded.js"></script>
	<script src="https://unpkg.com/codemirror/mode/htmlmixed/htmlmixed.js"></script>
	<script src="https://unpkg.com/codemirror/mode/javascript/javascript.js"></script>
	<script src="https://unpkg.com/codemirror/mode/xml/xml.js"></script>
	<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
	<script src="https://unpkg.com/vue-codemirror"></script>
</head>
<body>
	<div id="app"></div>
	<script>
		Vue.use(VueCodemirror, {
			options: {
				tabSize: 2,
				indentWithTabs: false,
				keyMap: 'sublime',
				lineWrapping: true,
				lineNumbers: true,
				showCursorWhenSelecting: true,
				lineWiseCopyCut: true,
				dragDrop: false,
				cursorBlinkRate: 0,
				cursorScrollMargin: 0,
				styleActiveLine: true,
				autoCloseBrackets: true,
				autoCloseTags: true,
				foldGutter: true,
				gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"],
				matchTags: {
					bothTags: true
				},
				extraKeys: {
					'Ctrl-J': 'toMatchingTag',
					F11: cm => cm.setOption('fullScreen', !cm.getOption('fullScreen')),
					'Ctrl-Q': cm => cm.foldCode(cm.getCursor()),
					'Ctrl-W': cm => cm.setOption('lineWrapping', !cm.getOption('lineWrapping')),
				}
			}
		})

		const VueIframe = {
			props: ['html'],
			template: `<iframe ref="iframe"></iframe>`,
			mounted() {
				this.$refs.iframe.contentDocument.documentElement.innerHTML = this.html
			},
			watch: {
				html(html) {
					this.$refs.iframe.contentDocument.documentElement.innerHTML = html
				}
			}
		}

		new Vue({
			el: '#app',
			components: {
				//VueAceEditor,
				VueIframe
			},
			template: `
				<div class="container">
					<div class="tabs">
						<button @click.stop="editorTab = 'data'">Data</button>
						<button @click.stop="editorTab = 'template'">Template</button>
					</div>
					<div class="tabs">
						<button @click.stop="resultTab = 'result'">Result</button>
						<button @click.stop="resultTab = 'preview'">Preview</button>
					</div>
					<div class="tab-folder">
						<codemirror
							ref="dataEditor"
							v-show="editorTab === 'data'"
							v-model="ejsData"
							:options="{
								mode: 'text/javascript',
								indentWithTabs: false,
							}"
						/>
						<codemirror
							ref="templateEditor"
							v-show="editorTab === 'template'"
							v-model="ejsTemplate"
							:options="{
								mode: 'application/x-ejs',
								indentWithTabs: true,
							}"
						/>
					</div>
					<div class="tab-folder">
						<pre v-show="resultTab === 'result'">{{ output }}</pre>
						<vue-iframe v-show="resultTab === 'preview'" :html="output"/>
					</div>
				</div>`,
			data: {
				ejsData: '',
				ejsTemplate: `OK, so have fun! :D
-------------------
<%
	var fruits = ["Apple", "Pear", "Orange", "Lemon"]
	  , random = " ".repeat(198).split("").map(x => Math.random())
	  ;
%>

These fruits are amazing:
<% for(var i = 0; i < fruits.length; ++i) {%>
  - <%=fruits[i]%>s<% } %>

Let's see some random numbers:

<% random.forEach((c, i) => {
%> <%=c.toFixed(10) + ((i + 1) % 6 === 0 ? "\\n": "") %><%});%>`,
				editorTab: 'template',
				resultTab: 'preview'
			},
			computed: {
				output() {
					try {
						console.log('render ejs')
						let input = `<% const include = () => ''; ${this.ejsData} %> ${this.ejsTemplate}`
						return ejs.render(input)
					} catch (e) {
						return `<pre>${e.stack}</pre>`
					}
				},
				dataEditor() {
					return this.$refs.dataEditor.codemirror
				},
				templateEditor() {
					return this.$refs.templateEditor.codemirror
				}
			},
			created() {
				if (localStorage.ejsData) this.ejsData = localStorage.ejsData
				if (localStorage.ejsTemplate) this.ejsTemplate = localStorage.ejsTemplate
			},
			mounted() {
				this.dataEditor.setSize('100%', '100%')
				this.templateEditor.setSize('100%', '100%')
			},
			watch: {
				ejsData(value) {
					this.templateEditor.setOption('firstLineNumber', this.dataEditor.lineCount() + 1)
					console.log('dehydrate data')
					localStorage.ejsData = value
				},
				ejsTemplate(value) {
					console.log('dehydrate template')
					localStorage.ejsTemplate = value
				}
			}
		})
	</script>
	<div class="footer">
		<span class="octicon octicon-code"></span> with <span class="octicon octicon-heart"></span> by <a href="https://github.com/IonicaBizau">@IonicaBizau</a> |  <a href="https://github.com/IonicaBizau/ejs-playground"> <span class="octicon octicon-octoface"></span> @IonicaBizau/ejs-playground</a>
	</div>
</body>
</html>
